 table.mystyle
{
    border-width: 0 0 0px 0px;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
    bgcolor: white;
}

.mystyle td, .mystyle th
{
    margin: 0;
    padding: 4px;
    border-width: 0px 0px 0 0;
    border-style: solid;
    bgcolor: white;
}
.ui-btn-active {
	border: 1px solid #ed1c24 /*{global-active-border}*/;
	background: #ed1c24 /*{global-active-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 0 /*{global-active-shadow-radius}*/ #444444 /*{global-active-shadow-color}*/;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
@font-face {
  font-family: agencyfb;
  src: url('http://georgethedan.github.io/mobile/agencyfb.otf') format('opentype');
}
